<div class="search__result {{strVisibilityClass}}">
    <img src={{strUrlGif}} alt="Imagen del clima" class="search__result-img">
    <h1 class="search__result-message">En <span class="search__result-message-location">{{currentLocation}}</span> está <div class="search__result-message-weather">{{strTranslatedWeather}}</div></h1>
</div>