<div class="search__result">
    <img src="{{strUrlGif}}" alt="Imagen del clima" class="search__result-img">
    <h1 class="search__result-message">En {{currentLocation}} está {{strTranslatedWeather}}</h1>
</div>