// Colors
$color-primary: #ecd500;
$color-error: #ce3434;


// Typography
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

$font-main: "Montserrat", "Helvetica", "Arial", sans-serif;