<main>
    <div class="search animated {{strActiveClass}}">
        {{search-input fetchData=(action "fetchData") updateLocation=(action "updateLocation")}}
        {{search-result strUrlGif=strUrlGif currentWeather=strWeather currentLocation=strLocation}}
    </div>
</main>

<footer class="footer">
    <p>Desarrollado con ☕ por <a href="http://andresliu.xyz" target="_blank">Andrés Liu</a></p>
</footer>

{{outlet}}